@font-face {
  font-family: "Lateef";
  src: url('Lateef.ttf');
}

.arabic {
  font-family: "Lateef";
}

::-webkit-scrollbar-track
{
  visibility: hidden;
}

::-webkit-scrollbar
{
  width: 0;
  visibility: hidden;
}

::-webkit-scrollbar-thumb
{
  visibility: hidden;
}