// src/css/quasar.variables.scss

$primary   : #00a352;
$secondary : #00f57b;
$accent    : #00d66c;

$dark      : #2d2d2d;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;